---
import {
  AntonioMartinezFernandezName,
  MayorOpticaDescription,
  MayorOpticaPuenteTocinosName,
} from '@src/data/common';
import { LinkName, links } from '@src/data/links';
import UpperFooter from './upper-footer/UpperFooter.astro';
import FooterSection from './footer-section/FooterSection.astro';

const facebook = links.get(LinkName.FACEBOOK);
const instagram = links.get(LinkName.INSTAGRAM);
const github = links.get(LinkName.GITHUB);
const maps = links.get(LinkName.GOOGLE_MAPS);
const mail = links.get(LinkName.MAIL);
const phone = links.get(LinkName.PHONE);

const upperFooterLinks = [facebook, maps, github];
const socialsSectionLinks = [facebook, instagram];
const contactSectionLinks = [maps, mail, phone];
---

<footer
  class="text-center text-lg-start text-white"
  style="background-color:var(--negro)"
>
  <UpperFooter/>
  <section>
    <div class="container-fluid text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">{MayorOpticaPuenteTocinosName}</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: var(--naranja); height: 2px"
          />
          <p>{MayorOpticaDescription}</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <FooterSection
            sectionName="Redes sociales"
            links={socialsSectionLinks}
          />
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <FooterSection sectionName="Contacto" links={contactSectionLinks} />
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3" style="background-color:black">
    © 2022 Copyright:
    <a class="text-white primary-hover" href="https://antoniomrtz.github.io/Portfolio/"
      >{AntonioMartinezFernandezName}</a
    >
  </div>
</footer>
